body{
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
	background-color: #ffdb583b;
}
/*header section*/
.nav-link {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#booknow{
  color: darkred;
  font-weight: bold;
}
.btn-outline-primary {
    border-color: darkred;
}
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.col-item{
  text-align: center;
}
#border-box{
	border-radius: 25px;
  background: #E8BEAC;
  padding: 20px; 
}
#about-img{
	border-radius: 200px ;
    height: 500px;
    width: 400px;
}
.card-img-top {
  width: 90%;
  border-radius: 25px!important
}
#dest_btn{
  text-decoration: none;
}
#dest_card{
  background-color: transparent;
  border-style: 5px solid black;
}

/*footer section*/
.fa-plane{
  border-radius: 50%;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer{
  margin-top: 20px;
}
.footer ul li {
  display: inline-block;
  width: 100%;
  margin-bottom: 12px;
}
.footer ul li a:hover{
  color: #ff5e14;
  text-decoration: none;
}
.footer ul li a {
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}
#social-media{
  font-size: 15px;
  background-color: transparent!important;
  border:  2px solid black;
  color: black;
  padding: 10px 10px 10px 10px;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #img1{
    margin-top: 20px;
    height: 300px;
    width: 300px;
  }
  #dest_img{
    margin-top: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #img1{
    margin-top: 20px;
    height: 300px;
    width: 300px;
  }
  #dest_img{
    margin-top: 10px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #img1{
    margin-top: 20px;
    height: 200px;
    width: 200px;
  }
  #dest_img{
    margin-top: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #img1{
    margin-top: 20px;
    height: 200px;
    width: 200px;
  }
  #dest_img{
    margin-top: 10px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #img1{
    height: 500px;
    width: 500px;
  }
  #dest_img{
    margin-top: 10px;
  }
}